# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data
data/*
!data/.gitkeep

# Models
models/*
!models/.gitkeep

# Configs
configs/*
!configs/.gitkeep
!configs/config.yaml

# Logs
logs/
!logs/.gitkeep

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Kaggle API key
kaggle.json

# Others
MY_TODO.txt
src/train_old.py
